body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}